@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body{
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    /*font-family: 'open sans';*/
     font-weight: normal;
    /*background-color: rgba(0,0,0,.00);*/
    background-color: #fff;
}
.heading{
	text-align:center;
    background-color: #fff;
    padding-bottom: 20px;
}
.main-title{
    font-size: 32px;
}
.heading a{
    color: #777;
    text-transform: uppercase;
}
.heading a:hover{
    color: #333;
	border-color: #333;
}
.heading ul{
    padding: 0;
    margin: 0;
    /*padding-top: 5px;*/
}
.heading ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	color: #11A1D3;
}
a:hover, a:active{
    text-decoration: none;
    /*background: white;*/
    border-bottom: solid 1px #444;
}
.project{
    margin-bottom: 80px;
    border: solid 1px #eaeaea;
    padding: 10px;
}
.project .project-title h3{
    margin-top: 0;
    padding-top: 0;
}
.cp-footer img{
    height: 20px;
}